/*police*/
/*fontsize*/
/*fontWeigh*/
/*colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.heroSection {
  width: 100%;
  height: 60rem;
  background-image: url("../../img/hero-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection__bloc {
  width: 25rem;
}
.heroSection__title {
  margin-top: 20px;
}
.heroSection__title__point {
  color: #9995c6;
}
.heroSection__legende {
  display: flex;
  justify-content: center;
  border: 1px solid #f8f8f8;
  width: 12rem;
  padding: 5px;
}
.heroSection__buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.heroSection__buttons__blocOne {
  width: 150px;
  background-color: #372f8b;
  border-radius: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.heroSection__buttons__buttonOne {
  text-decoration: none;
}
.heroSection__buttons__blocTwo {
  width: 200px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.heroSection__buttons__buttonTwo {
  text-decoration: none;
}

.marque-slogan {
  background-color: #372f8b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.marque-slogan .marque {
  display: flex;
  flex-direction: row;
  color: #f8f8f8;
  gap: 20px;
}
.marque-slogan .marque__no-point {
  list-style: none;
}

.produit {
  background-color: #372f8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.produit__title {
  font-size: 40px;
}
.produit__card-bloc {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.produit__card-bloc__card {
  background-color: #9995c6;
  width: 20rem;
  height: 25rem;
  border-radius: 5px;
}
.produit__card-bloc__card__img {
  width: 100%;
  height: 55%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url("../../img/red-card.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #f8f8f8;
}
.produit__card-bloc__card__img__label {
  width: auto;
  height: 2rem;
  padding: 10px;
}
.produit__card-bloc__card__img__like {
  padding: 10px;
}
.produit__card-bloc__card__description {
  margin-top: 10px;
  color: #f8f8f8;
  padding: 10px;
}
.produit__card-bloc__card__description__button {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nav-barre {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  background-color: #372f8b;
}
.nav-barre__title h1 {
  color: #f8f8f8;
}
.nav-barre__title span {
  color: #9995c6;
}
.nav-barre__li ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.nav-barre__li ul a {
  text-decoration: none;
}
.nav-barre__icon {
  color: #f8f8f8;
  display: flex;
}

/*# sourceMappingURL=index.css.map */
