@use "../abstract" as *;

.heroSection {
  width: 100%;
  height: 60rem;
  background-image: url("../../img/hero-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bloc {
    width: 25rem;

    @include sm {
      width: 15rem;
      margin: 20px;
    }
  }

  &__title {
    margin-top: 20px;

    &__point {
      color: $bloc;
    }
  }

  &__legende {
    display: flex;
    justify-content: center;
    border: 1px solid $white;
    width: 12rem;
    padding: 5px;
  }
  &__buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;

    @include sm {
      flex-direction: column;
      gap: 15px;
    }

    &__blocOne {
      width: 150px;
      background-color: $background;
      border-radius: 5px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      @include sm {
        width: 200px;
      }
    }
    &__blocOne:hover {
      background-color: $bloc;
    }

    &__buttonOne {
      text-decoration: none;
    }

    &__blocTwo {
      width: 200px;
      border: 1px solid $white;
      border-radius: 5px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    &__blocTwo:hover {
      background-color: $bloc;
    }

    &__buttonTwo {
      text-decoration: none;
    }
  }
}
