@use "../abstract" as *;

.marque-slogan {
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  padding: 3rem;

  @include sm {
    height: 15rem;
  }

  .marque {
    display: flex;
    flex-direction: row;
    color: $white;
    gap: 20px;

    @include sm {
      flex-direction: column;
    }

    &__no-point {
      list-style: none;
    }
  }
}
.produit {
  background-color: $background;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  p {
    text-transform: uppercase;
  }
  &__title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  &__card-bloc {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;

    &__card {
      background-color: $bloc;
      width: 20rem;
      height: 25rem;
      border-radius: 8px;

      &__img {
        width: 100%;
        height: 55%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-image: url("../../img/red-card.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: $white;
        &__label {
          width: auto;
          height: 2rem;
          padding: 10px;
        }
        &__like {
          padding: 10px;
        }
      }

      &__description {
        margin-top: 10px;
        color: $white;
        padding: 10px;
        &__button {
          height: 2rem;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          justify-self: center;
          gap: 10px;
          border: 1px solid $white;
          border-radius: 10px;
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
