/*police*/

$fontstyle:
  "Segoe UI",
  system-ui,
  -apple-system,
  sans-serif;

/*fontsize*/
$titleSize: 60px;
$littleTitleSize: 45px;
$textSize: 16px;
$legendeSize: 12px;

/*fontWeigh*/

$normal: 300;
$gras: 800;

/*colors*/

$background: #372f8b;
$bloc: #9995c6;
$white: #f8f8f8;
