/*police*/

$fontstyle:
  "Segoe UI",
  system-ui,
  -apple-system,
  sans-serif;

/*fontsize*/
$titleSize: 36px;
$littleTitleSize: 30px;
$textSize: 20px;
$legendeSize: 16px;

/*fontWeigh*/

$normal: 300;
$gras: 800;

/*colors*/

$background: #372f8b;
$bloc: #9995c6;
$white: #f8f8f8;
