@use "../abstract" as *;
@use "../base/reset";


.nav-barre {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: $fontstyle;
  background-color: $background;

  &__title {
    h1 {
      color: $white;
    }
    span {
      color: $bloc;
    }
  }
  &__li {
    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;
        a{
            text-decoration: none;
        }
    }
  }
  &__icon{
    color: $white;
    display: flex;
  }
}
